{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}This is my Blog Post 3 Website. Please explore the other pages through the navigation bar above! {% endblock %}</h1>
{% endblock %}

{% block content %}
  
<pre>
             .--._.--.
            ( O     O )
            /   . .   \
           .`._______.'.
          /(           )\
        _/  \  \   /  /  \_
     .~   `  \  \ /  /  '   ~.
    {    -.   \  V  /   .-    }
  _ _`.    \  |  |  |  /    .'_ _
  >_       _} |  |  | {_       _<
   /. - ~ ,_-'| .^. |`-_, ~ - .\
           '-'|/   \|`-`
</pre>

{% endblock %}
